body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  text-align: center;
}

header {
  background: #222;
  color: #fff;
  padding: 40px 20px;
}

section {
  padding: 30px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
.dark {
  background: #121212;
  color: white;
}
.dark header {
  background: #000;
}

.dark section {
  background: #1e1e1e;
}

.dark button {
  background: #333;
  color: white;
  border: 1px solid #555;
}
